<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Amp.Properties.Settings>
            <setting name="CycleKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CycleMod" serializeAs="String">
                <value />
            </setting>
            <setting name="MuteKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MuteMod" serializeAs="String">
                <value />
            </setting>
            <setting name="StateSound" serializeAs="String">
                <value>False</value>
            </setting>
        </Amp.Properties.Settings>
    </userSettings>
</configuration>